
{% extends "base.html" %}
{% block content %}

   <center><h1>Build a Blog</h1></center>

    <ul>
        {% for entry in all_entries %}

            <li>
                <h2>
                    <a href="/blog?id={{ entry.id }}">{{ entry.title }}</a>
                </h2>
                <p>{{ entry.body }}</p>
                <p><br><b>(Do you wish to delete this post?)</b></p>
                <form action="/delete-post" method="POST" style="display:inline-block;">
                    <input type="hidden" name="entry-id" value="{{entry.id}}" />
                    <input type="submit" value="Delete Post" />
                </form>
            </li>

        {% endfor %}

    </ul>

{% endblock %}