<!doctype html>

<html>

    <head>

        <title>{{title}}</title>


    </head>

<body>

    <main>

        <nav>
            <a href='/blog'>Home Blog Page</a>
            <a href='/new_post'>Add A Blog Entry</a>
        </nav>



            {% with messages = get_flashed_messages() %}
                <ul>
                {% for message in messages %}
                    <li class="flash_message">{{message}}</li>

                {% endfor %}
                </ul>
            {% endwith %}


            {% block content %}
            {% endblock %}



        </div> 

    </main>



</body>

</html>