
{% extends "base.html" %}



{% block content %}

      <div>



        <h1>Welcome to Blogz</h1>
        <h2>Sign-In Below!</h2>



        <form action="/login" method="POST">



          <input name="username" type="text" value="{{ username }}" placeholder="Username">

          <p>{{ username_error }}</p>



          <input name="password" type="password" placeholder="Password">

          <p>{{ password_error }}</p>



          <input type="submit" value="login">



        </form>



        <p>Don't have an account? <a href="/register">Sign Up</a></p>



      </div>

{% endblock %}