{% extends "base.html" %}
{% block content %}

<center><h1>Add A Blog Entry</h1></center>
<form action="/new_post" method="post">

        <label for="title_field">Title for new blog:</label><br>
        <input id="title_field" name="title" type="text" value="{{ new_post_title }}">
<br><br><br>
        <label for="body_field">Your new blog:</label><br>
        <textarea rows="4" cols="50" id="body_field" name="body" >{{ new_post_body }}</textarea>
<br>
    <input id="submit_button" type="submit" value="Add New Entry">

</form>

{% endblock %}